			<div class="footer">
		    <p class="a">
		       <!-- <a href="#"><img src="img/facebook.png" title=""></a>-->
		       <!-- <a href="#"><img src="img/twitter.png" title=""></a> -->
		    </p>
		    <p>Copyright 2013&nbsp;Template by <a href="http://w3layouts.com"> w3layouts.com</a> </p>
		</div>
	</body>
</html>

<script src="js/site.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
