

<div class="container">
<div class="col-md-5">
    <div class="form-area">  
        <form method="post" action="/messagePost">
            <input type="text" name="messageUI">
            <input type="submit">
        </form>
    </div>
</div>
</div>

